body {
    background-image: url("images/exam.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.page {
    width: 1024px;
    background-color: rgb(253, 253, 253);
    margin: auto;
    padding: 0.5em;
}

.pageScore {
    width: 1024px;
    background-color: rgb(253, 253, 253);
    margin: auto;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.questions {
    list-style-type: none;
}

h1 {
    text-align: center;
}