body{
    background-image: url("background/background_.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding:0;
}
.page {
    width: 1024px;
    background-color: whitesmoke;
    height: 1000px;
    margin: auto;
    padding: 0.5em;
}
h1{
    text-align:center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

}